body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #ffe9a3;
  margin: 0;
  padding: 0;
  color: #007d82;
}



header {
  background-color: #f55fb1; 
  color: white;
  width: 100%;
  font-family: "Comic Sans MS", sans-serif;
}


.encabezado {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
}

.logo {
  width: 60px;
  height: auto;
}

.encabezado h1 {
  font-size: 22px;
  line-height: 1.3;
  margin: 0;
}

nav ul {
  list-style: none;          
  display: flex;              
  justify-content: center;   
  background-color: #008b8b;
  padding: 10px;
  margin: 0;
}

nav ul li {
  margin: 0 20px;        
}

nav ul li a {
  color: white;              
  text-decoration: none; 
  font-family: "Comic Sans MS", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column; 
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}

header::after {
  display: block;
  height: 6px;
  background-color: #ffe7a1; 
}


.principal {
  background-color: #ffe9a3;
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.texto {
  max-width: 60%;
  color: #ff5cb2;

}

.texto h2 {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: bold;
  
}

.texto .subtitulo {
    max-width: 60%;
  color: #0f8b8d;
  font-weight: bold;
  text-align: center;

}

.texto .fecha {
  color: #ff5cb2;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
}

.boton {
  background-color: #008b8b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}



.imagen img {
  width: 230px;
  height: auto;
  margin-bottom: 20px;
    max-width: 100%;
  
}


@media (max-width: 768px) {
  .encabezado {
    flex-direction: column;
    text-align: center;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .principal {
    padding: 20px;
  }

  .contenido {
    flex-direction: column-reverse;
    text-align: center;
    gap: 25px;
  }

  .texto {
    max-width: 100%;
  }

  .imagen img {
    width: 180px;
  }

  .texto h2 {
    font-size: 20px;
  }
}
s


.ponentes {
  background-color: #ffe7a1;
  padding: 60px 20px;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}

.ponentes h2 {
  color: #800080;
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
}


.grid-ponentes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}


.ponente {
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}


.ponente .nombre {
  background-color: #ff5cb2;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}


.ponente .contenido {
  background-color: #0f8b8d;
  display: flex;
  align-items: center;
  color: white;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.ponente img {
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}


.ponente .info h3 {
  font-size: 16px;
  margin: 0 0 5px 0;
  color: #fff;
}

.ponente .info p {
  font-size: 14px;
  margin: 0;
}


@media (max-width: 768px) {
  .grid-ponentes {
    grid-template-columns: 1fr;
  }

  .ponente .contenido {
    flex-direction: column;
    text-align: center;
  }

  .ponente img {
    margin: 0 0 10px 0;
  }
}
 







.programacion {
  background-color: #ffe7a1;
  padding: 60px 20px;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}

.programacion h2 {
  color: #800080;
  font-size: 30px;
  margin-bottom: 10px;
}

.programacion h3 {
  color: #0088a9;
  font-size: 18px;
  margin-bottom: 50px;
}


.tabla-programacion {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}


.columna {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}


.fila {
  display: flex;
  align-items: center;
  gap: 20px;
}


.hora {
  background-color: #ff5cb2;
  color: white;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 30px;
  font-size: 15px;
  min-width: 150px;
  text-align: center;
}


.fila p {
  color: #007d8c;
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.fila b {
  color: #007d8c;
}


@media (max-width: 768px) {
  .tabla-programacion {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }


  .columna {
    align-items: center;
  }

  .fila {
    flex-direction: column;
    text-align: center;
  }

  .hora {
    min-width: auto;
  }
}

  .menu {
    flex-direction: column;
  }

footer{
    background-color: #800080;
    width: 100%;
    padding: 30px;
    color: white;
    
}





  
